<div >
  <div class="mx-auto">

  <div class="flex justify-between">
    <%= link_to '< Back', user_products_path, class:"btn-secondary" %>
    <%= link_to 'Edit this product', edit_user_product_path(@user, @product), class:"btn-secondary" %>
  </div>

    <%= render @product %>

  </div>
</div>
